body {
  padding: 0;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Roboto', Arial, sans-serif;
  color: #ffffff;

  background-color: #849d8f;
  background-image: url("img/backlight-common.png");
  background-position: 50% 0%;
  background-repeat: repeat-x;
}

.backlight-1,
.backlight-2,
.backlight-3 {
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

.backlight-1 {
  background-color: #849d8f;
  background-image: url("img/backlight-1.jpg");
}

.backlight-2 {
  background-color: #8996a6;
  background-image: url("img/backlight-2.jpg");
}

.backlight-3 {
  background-color: #9d8b84;
  background-image: url("img/backlight-3.jpg");
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
}

a:not([class]):hover,
a:not([class]):focus,
a:not([class]):active {
  text-decoration-color: rgba(249, 172, 159, 0.3);
  color: #ffbc9e;
}

.custom-links a,
.custom-link {
  text-decoration-color: rgba(0, 0, 0, 0.3);
  color: #323232;
}

.custom-links a:hover,
.custom-links a:focus,
.custom-links a:active,
.custom-link:hover,
.custom-link:focus,
.custom-link:active {
  text-decoration-color: rgba(236, 89, 60, 0.3);
  color: #e84d37;
}

.visually-hidden {
  position: absolute !important;

  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;

  border: 0 !important;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  user-select: none !important;
}

/* Grid */
.wrapper {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 0 2.3%;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.col {
  /* margin-left: 2.2%; */
  margin-left: 2.3%;
}

.col-1 {
  /* width: 22.2%; */
  width: 23.27%;
  margin-right: 2.3%;
}

.col-2 {
  width: 48.84%;
  margin-right: 2.3%;
}

.col-3 {
  width: 74.41%;
  margin-right: 2.3%;
}

.col-4 {
  width: 100%;
  margin-right: 0;
}

.col-2:nth-of-type(2n) {
  margin-right: 0;
}

.col-1:nth-of-type(4n) {
  margin-right: 0;
}

.main-header {
  position: relative;
  padding-top: 9px;
  margin-bottom: 35px;
}

.index-page .main-header {
  margin-bottom: 0;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-header-logo {
  flex-shrink: 0;
  width: 154px;
  margin-right: 10px;
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-container {
  position: absolute;
  right: 0;
  z-index: 100;

  display: none;
  padding-top: 5px;
}

.site-menu .dropdown-wrapper {
  position: static;
}

.site-menu .dropdown-container {
  right: auto;
  margin-left: -7px;
}

.dropdown {
  padding: 0;
  margin: 0;
  overflow: hidden;

  color: #323232;

  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.dropdown-wrapper:hover > .dropdown-container,
.dropdown-btn:focus + .dropdown-container,
.dropdown-container:hover {
  display: block;
}

.dropdown-content {
  padding: 15px;
}

.site-menu {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  list-style: none;
}

.site-menu > li {
  margin-right: 10px;
}

.site-menu > li:last-child {
  margin-right: 0;
}

.site-menu a {
  display: block;
  padding: 7px 14px;

  font: inherit;
  text-decoration: none;
  color: inherit;

  border-radius: 16px;
}

.site-menu a > span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-menu a:hover,
.site-menu a:focus {
  color: #333333;

  background-color: #f7f6f3;
}

.site-menu a:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.site-menu .site-menu-active > a {
  color: #ffffff;
  background-color: #d07058;
  box-shadow: none;
}

.site-menu a:hover > span,
.site-menu a:focus > span,
.site-menu-active > a > span {
  border-bottom-color: transparent;
}

.site-submenu {
  padding: 0;
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;

  list-style: none;
}

.site-submenu > li {
  position: relative;
  padding: 3px 0;
}

.site-submenu a {
  padding: 6px 20px;
  border-radius: 0;
}

.site-submenu a:hover,
.site-submenu a:focus {
  color: #323232;
  background-color: #fbded7;
}

.site-submenu a:active {
  color: #323232;
  background-color: #f6b5a5;
  box-shadow: none;
}

.site-submenu .site-menu-active > a {
  color: #ffffff;
  background-color: #d07058;
}

.site-menu-bold a {
  font-weight: 700;
}

.site-menu-bold::before {
  content: "";

  position: absolute;
  left: 6px;
  right: 9px;
  bottom: 0;

  height: 1px;

  background-color: #d1d0ce;
}

.header-link {
  flex-shrink: 0;
  margin-right: 10px;
}

.header-link:last-of-type {
  margin-right: 0;
}

.icon-link {
  display: inline-block;
  padding: 6px 16px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: inherit;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.icon-link:hover,
.icon-link:focus,
.icon-link-active {
  color: #323232;
  background-color: #f8f7f4;
}

.icon-notext {
  padding-left: 8px;
  padding-right: 8px;
}

.icon-notext > span {
  position: absolute;

  overflow: hidden;

  text-indent: -9999px;
  color: transparent;

  user-select: none;
}

.icon-link::before {
  content: none;

  display: inline-block;
  width: 25px;
  height: 20px;
  margin-right: 7px;
  vertical-align: middle;

  background-image: url("img/icons-header.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.icon-notext.icon-link::before {
  margin-right: 0;
}

.search-link::before {
  content: "";
  width: 17px;
  background-position: 0% 0%;
}

.search-link:hover::before,
.search-link:focus::before {
  background-position: 0% -20px;
}

.login-link::before {
  content: "";
  width: 21px;
  background-position: -25px 0%;
}

.login-link:hover::before,
.login-link:focus::before {
  background-position: -25px -20px;
}

.cart-link {
  min-width:57px;
}

.cart-link::before {
  content: "";
  width: 21px;
  background-position: -50px 0%;
}

.cart-link:hover::before,
.cart-link:focus::before,
.cart-link.icon-link-active::before {
  background-position: -50px -20px;
}

.form-item {
  margin-bottom: 20px;
}

.input-text {
  box-sizing: border-box;
  padding: 9px 14px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.input-text::placeholder {
  color: #999999;
}

.input-text:hover {
  padding: 8px 14px;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.input-text:focus {
  padding: 8px 14px;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 17px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;

  background-color: #f26843;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0 1px 2px #ac1000;
  border: 0;
  border-radius: 18px/22px;

  cursor: pointer;
}

.button:hover,
.button:focus {
  position: relative;
  overflow: hidden;

  vertical-align: bottom;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0 2px 2px rgb(172, 16, 0);
  outline: none;
}

.button:hover::after,
.button:focus::after {
  content: "";

  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.2);
}

.button:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 2px 2px rgb(148, 39, 24);
}

.button:active::after {
  background-color: rgba(0, 0, 0, 0.07);
}

.dropdown-search .input-text {
  width: 311px;
}

/* Login dropdown */
.login-form .input-text {
  width: 241px;
}

.login-form .form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form .button {
  flex-shrink: 0;
  width: 100px;
}

.help-links {
  padding: 0;
  margin: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;

  list-style: none;
}

.help-links a {
  font: inherit;
  /* text-decoration: none;
  color: inherit;

  border-bottom: 1px solid #adacaa; */
}

.site-contact-phone-wrapper {
  position: relative;
  margin-bottom: 25px;
}

.index-page .site-contact-phone-wrapper {
  margin-bottom: 0;
}

.site-contact-phone {
  position: absolute;
  right: 0;
  z-index: 20;

  box-sizing: border-box;
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.site-contact-phone b {
  display: block;
  padding-top: 5px;

  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
}

.banner {
  margin-bottom: -20px;
}

.slider {
  position: relative;
}

.slider-slides {
  padding: 0;
  margin: 0;

  list-style: none;
}

.slide {
  position: relative;

  display: none;
  padding-top: 325px;
  padding-bottom: 40px;

  text-align: center;
}

.slide-show {
  display: block;
}

.slide-title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  color: #ffffff;
}

.slide-btn {
  padding: 10px 40px;

  font-size: 32px;
  line-height: 44px;

  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 32px;
}

.slide-image {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;

  width: 100%;

  text-align: center;
}

.slider-dots {
  position: absolute;
  left: 0;
  bottom: 93px;

  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
}

.slider-dots > li {
  margin-right: 8px;
}

.slider-dots > li:last-child {
  margin-right: 0;
}

.dot-btn {
  display: block;

  box-sizing: border-box;
  width: 20px;
  height: 20px;
  overflow: hidden;

  text-indent: -9999px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.dot-btn:hover,
.dot-btn:focus {
  background-color: rgba(248, 247, 244, 0.4);
  outline: none;
}

.dot-btn-active,
.dot-btn:active {
  background-color: #ffffff;
}

.promo {
  margin-bottom: 35px;
}

.promo-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.promo-item {
  position: relative;

  box-sizing: border-box;
  min-height: 229px;
  padding: 20px;
  overflow: hidden;

  border-radius: 15px;
}

.promo-title {
  margin: 0;
  margin-bottom: 14px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.promo-text {
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.promo-item img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: auto;
  max-width: none;
}

.promo-footer {
  text-align: right;
}


.promo-link {
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 23px;
}

.hits {
  margin-bottom: 6px;
}

.hits-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.product-card {
  position: relative;

  display: flex;
  flex-direction: column;
  /* padding-top: 1.13%; */
  padding-top: 6px;
  padding-bottom: 1.83%;
  /* margin-bottom: 40px; */
  margin-bottom: -42px;
}

.product-card:hover,
.product-card:focus {
  z-index: 1;

  /* background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4); */
}

.product-card:hover::before,
.product-card:focus::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
  padding: 0 4.87%;
  margin-left: -4.87%;

  background-color: rgb(248, 247, 244);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  opacity: 0.2;
}

.product-title {
  order: 5;
  margin: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.product-card-desc {
  position: relative;
  margin-bottom: 15px;
}

.product-card.product-hit .product-card-desc::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background-image: url("img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.columns .product-card .product-image {
  display: block;
  width: 100%;
  height: auto;

  border-radius: 50%;
}

.product-price {
  position: absolute;
  left: 0;
  bottom: 10px;

  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-price b {
  font-size: 45px;
}

.product-dropdown {
  order: 10;
  text-align: center;

  visibility: hidden;
}

.product-card:hover .product-dropdown,
.product-card:focus .product-dropdown {
  visibility: visible;
}

.features {
  padding: 25px 20px;
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #323232;

  background-color: #eee1c7;
  background-image: url("img/pattern-waffer.jpg");
  background-repeat: repeat;
  background-position: 0% 0%;
  border-radius: 15px;
}

.features-lead {
  display: block;
  margin-bottom: 7px;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.features-item {
  position: relative;

  box-sizing: border-box;
  padding-top: 12px;
  padding-left: 55px;
  margin-bottom: 8px;
}

.features-item::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;

  width: 49px;
  height: 49px;

  background-image: url("img/icon-icecream.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.features-natural::before {
  background-image: url("img/icon-leaf.svg");
}

.features-milk::before {
  background-image: url("img/icon-cow.svg");
}

.features-thermo::before {
  background-image: url("img/icon-thermometer.svg");
}

.blog-news {
  box-sizing: border-box;
  min-height: 220px;
  padding: 24px 20px;
  color: #323232;
  background-color: #ffffff;
  background-image: url("img/blog-img.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  border-radius: 15px;
}

.blog-news-title {
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.blog-news-link {
  width: 290px;
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.blog-news-link a {
  font: inherit;
  text-decoration: none;
  color: inherit;

  background-color: rgba(255, 255, 255, 0.8);
}

.newsletter {
  box-sizing: border-box;
  padding: 5px;

  color: #5a5a5a;

  background-color: #f8f7f4;
  background-image: repeating-linear-gradient(135deg, #f8f7f4 0px, #f8f7f4 7px, #92cdff 7px, #92cdff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  border-radius: 15px;
}

.newsletter-wrapper {
  box-sizing: border-box;
  min-height: 210px;
  padding: 30px 20px;
  border-radius: 15px;
  background-color: #f8f7f4;
}

.newsletter-wrapper p {
  margin: 0;
  margin-bottom: 35px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form .input-text {
  flex-grow: 1;
  margin-right: 10px;
}

.subscribe-form .button {
  padding-left: 18px;
  padding-right: 18px;
}

.contacts {
  margin-top: 40px;
}

.contacts-text-wrapper {
  position: relative;
}

.contacts-map {
  position: relative;
  overflow: hidden;
}

.contacts-map img {
  position: absolute;
  top: 0;
  left: 0;

  max-width: none;
}

.contacts-text {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 5;

  box-sizing: border-box;
  width: 300px;
  padding: 30px 25px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #ffffff;
  border-radius: 15px;
}

.contacts-text p {
  margin: 0;
  margin-bottom: 15px;
}

.contacts-street {
  display: block;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts-phone {
  display: block;
  margin-top: 5px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.contacts-phone-time {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.contacts-form-link {
  display: block;
  width: 100%;
  margin-top: 25px;
}

.contacts,
.contacts-map,
.contacts-map-external {
  height: 430px;
}

.contacts-map-external {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: lightblue;
}

.contacts-map-external iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.main-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;

  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.index-page .main-footer {
  margin-top: 0;
  border-top: none;
}

.main-footer .columns {
  align-items: flex-end;
}

.main-footer .columns > :last-child {
  margin-right: 0;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer-social > li:not(:last-child) {
  margin-right: 12px;
}

.social-link {
  display: block;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.social-link:hover,
.social-link:focus {
  border-color: rgba(255, 255, 255, 0.7);
}

.social-link svg {
  display: block;
  opacity: 0.8;
}

.social-link:hover svg,
.social-link:focus svg {
  opacity: 1;
}

.social-link:active svg {
  fill: #e9e9e9;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  padding: 0;
  margin: 0 auto;

  font-size: 13px;
  line-height: 18px;

  list-style: none;
}

.footer-links > li {
  min-width: 145px;
  /* margin-bottom: 5px; */
  margin-top: 5px;
}

.footer-links a {
  display: block;
  padding-left: 22px;

  /* text-decoration: underline; */
  /* text-decoration-color: rgba(255, 255, 255, 0.2); */
  font: inherit;
  color: inherit;
}

.footer-links .link-heart {
  font-weight: 700;
  padding-left: 0;
}

.footer-links .link-heart::before {
  content: "";

  display: inline-block;
  width: 15px;
  height: 13px;
  margin-right: 7px;
  vertical-align: middle;

  background-image: url("img/icon-heart.svg");
  background-position: 0% 0%;
  background-repeat: no-repeat;
}

.made-in {
  width: 190px;

  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.made-in a {
  /* text-decoration-color: rgba(255, 255, 255, 0.2); */
  /* color: inherit; */
  font: inherit;
}

.made-in-logo {
  margin-bottom: 5px;
}

.made-in-logo img {
  vertical-align: bottom;
}

.made-in-wrapper {
  display: flex;
  justify-content: flex-end;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;

  display: none;
  box-sizing: border-box;
  padding: 25px;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 90;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal-show {
  display: block;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 16px;

  width: 18px;
  height: 17px;
  overflow: hidden;

  text-indent: -9999px;

  background-color: transparent;
  background-image: url("img/x-big.svg");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  border: 0;

  cursor: pointer;
}

.modal-feedback {
  width: 480px;
}

.modal-title {
  display: block;
  margin: 0;
  margin-bottom: 15px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px
}

.modal .input-text {
  width: 267px;
}

.modal .input-textarea {
  width: 100%;
  height: 155px;
}

.modal .form-footer {
  text-align: right;
}

.modal .button {
  padding-left: 24px;
  padding-right: 24px;
}

.dropdown-cart {
  box-sizing: content-box;
  width: 510px;
  padding: 25px 14px 12px 16px;
}

.cart-list {
  padding: 0;
  padding-bottom: 15px;
  margin: 0;
  margin-bottom: 15px;

  border-bottom: 1px solid #cacac7;

  list-style: none;
}

.cart-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.cart-item:last-of-type {
  margin-bottom: 0;
}

.cart-item-action {
  order: 1;
  flex-shrink: 0;
  width: 11px;
  margin-right: 9px;
}

.cart-del-btn {
  display: inline-block;
  width: 11px;
  height: 11px;
  overflow: hidden;

  vertical-align: middle;
  text-indent: -9999px;

  background-color: transparent;
  background-image: url("img/x.svg");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  border: 0;

  cursor: pointer;
}

.cart-item-image {
  order: 2;
  width: 33px;
  height: 33px;
  margin-right: 14px;

  line-height: 33px;

  border-radius: 50%;
  /* overflow: hidden; */
}

.cart-item-image img {
  vertical-align: middle;
}

.cart-item-title {
  order: 3;
  box-sizing: border-box;
  width: 220px;
  margin: 0;
  margin-right: 14px;

  font: inherit;
  font-weight: 400;
}

.cart-item-amount {
  order: 4;
  width: 110px;
  margin: 0;
  margin-right: 10px;

  text-align: right;
}

.cart-item-price {
  color: #999999;
}

.cart-item-sum {
  order: 5;
  width: 70px;
  margin: 0;
  margin-right: auto;

  text-align: right;
}

.cart-total {
  text-align: right;
}

.cart-sum {
  margin: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.cart-total .button {
  padding-left: 14px;
  padding-right: 14px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.breadcrumbs > li:not(:last-child)::after {
  content: "»";
  margin-left: 8px;
  margin-right: 8px;

  display: inline;
  vertical-align: baseline;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs-active a {
  text-decoration: none;
  color: inherit;
}

.page-title {
  margin: 0;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.catalog-list {
  padding: 0;
  margin: 0;
  margin-bottom: 47px;

  list-style: none;
}

.pagination {
  position: relative;
  z-index: 10;

  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  padding: 0;
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  list-style: none;
}

.pagination > li {
  margin-right: 3px;
}

.pagination > li:last-child {
  margin-right: 0;
}

.pagination a {
  box-sizing: border-box;
  display: block;
  min-width: 25px;
  padding: 3px 3px 4px;

  text-align: center;
  text-decoration: none;
  color: inherit;

  border-radius: 50%;
}

.pagination a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination a:active,
.pagination .pagination-active a {
  color: #323232;

  background-color: #ffffff;
}

.pagination-prev a,
.pagination-next a {
  position: relative;
  width: 25px;
  overflow: hidden;
  text-indent: -9999px;
  background-color: transparent;
}

.pagination-prev a::before,
.pagination-next a::before {
  content: "";

  position: absolute;
  left: 8px;
  top: 50%;

  width: 9px;
  height: 14px;
  margin-top: -7px;
  background-image: url("img/pagination-icons.png");
  background-position: 0% 0%;
  background-repeat: no-repeat;
}

.pagination-next a::before {
  background-position: -9px 0%;
}

.pagination-next a:active,
.pagination-prev a:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination .pagination-disabled a {
  background-color: transparent;
}

.pagination-disabled a::before {
  opacity: 0.2;
}

.filter {
  margin-bottom: 19px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filter-columns {
  display: flex;
  flex-wrap: wrap;
}

.filter-columns .form-item {
  margin-right: 15px;
  margin-bottom: 15px;
}

.filter-columns .form-item:last-of-type {
  margin-right: 0;
}

.filter-columns .filter-fat {
  margin-right: 0;
}

.filter-name {
  display: block;
  padding: 0;
  padding-left: 15px;
  margin-bottom: 7px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter-form fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.form-item-inputs {
  min-height: 36px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.filter-input-list {
  display: flex;
  flex-wrap: wrap;
  padding: 7px 14px;
  margin: 0;

  list-style: none;
}

.filter-input-list > li {
  margin-right: 20px;
}

.filter-input-list > li:last-child {
  margin-right: 0;
}

.custom-radio input[type="radio"],
.custom-checkbox input[type="checkbox"] {
  position: absolute;
  z-index: -100;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;

  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

.custom-radio label,
.custom-checkbox label {
  user-select: none;
}

.custom-radio label::before {
  content: "";

  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  vertical-align: text-bottom;

  background-image: url("img/custom-checkbox.png");
  background-position: 0% 0%;
  background-repeat: no-repeat;

  opacity: 0.8;
}

.custom-radio input[type="radio"]:checked + label::before {
  background-position: 0% -25px;
}

.custom-checkbox label::before {
  content: "";

  display: inline-block;
  width: 24px;
  height: 22px;
  margin-right: 10px;
  vertical-align: text-bottom;

  background-image: url("img/custom-checkbox.png");
  background-position: -25px 0%;
  background-repeat: no-repeat;

  opacity: 0.8;
}

.custom-checkbox input[type="checkbox"]:checked + label::before {
  background-position: -25px -25px;
}

.custom-radio input[type="radio"]:hover + label::before,
.custom-radio input[type="radio"]:focus + label::before,
.custom-checkbox input[type="checkbox"]:hover + label::before,
.custom-checkbox input[type="checkbox"]:focus + label::before {
  opacity: 1;
}

.custom-radio input[type="radio"]:disabled + label::before,
.custom-checkbox input[type="checkbox"]:disabled + label::before {
  opacity: 0.4;
}

.filter-button-container {
  padding-top: 21px;
}

.filter-button {
  box-sizing: border-box;
  min-height: 36px;
  padding: 7px 29px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 18px;

  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;
  background-color: #ffffff;
}

.filter-button:active {
  padding: 9px 31px;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
  border: 0;
}

.filter-price-slider {
  padding: 7px 21px 4px;
}

.filter-price-slider-container {
  width: 176px;
  padding: 9px 0 13px;
}

.filter-price-slider-bar {
  position: relative;
  height: 4px;
  background-color: rgba(248, 247, 244, 0.5);
}

.filter-price-slider-fill {
  position: absolute;
  left: 16px;
  right: 54px;
  top: 0;
  height: 4px;
  background-color: rgba(248, 247, 244, 1);
}

.filter-price-slider-handle {
  position: absolute;
  top: -8px;

  width: 20px;
  height: 23px;

  background-image: url("img/filter-button.svg");
  background-position: 0% 0%;
  background-repeat: no-repeat;

  cursor: pointer;
}

.filter-price-slider-handle-min {
  left: 16px;
  margin-left: -3px;
}

.filter-price-slider-handle-max {
  right: 54px;
  margin-right: -3px;
}

.filter-price-slider-handle:hover {
  width: 22px;
  height: 26px;

  background-size: contain;

  margin-top: -1px;
}

.custom-select {
  box-sizing: border-box;
  display: block;
  width: 193px;
  padding: 9px 27px 9px 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(248, 247, 244, 0.2);
  background-image: url("img/icon-down-white.png");
  background-repeat: no-repeat;
  background-position: 168px 50%;
  border: 0;
  border-radius: 18px;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.custom-select:hover,
.custom-select:focus {
  color: #323232;
  background-image: url("img/icon-down-black.png");
}

/* Custom element for preloading needed later images,
 * for example arrow icon for select hover state
 */
.custom-preload {
  background-image: url("img/icon-down-black.png");

  background-repeat: no-repeat;
  background-position: 0% 0%;
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}
